body{
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.container {
    width: 100%;
    height: 100vh;
    background: #bfbfbf;
}
.container h2 {
    margin-top: 0;
    text-align: center;
    color: white;
}
.container p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 20px;
}
.container p > a {
    color: #2a26a6;
}
.navbar {
    width: 940px;
    height: 30px;
    margin: 0 auto;
    background-color: #fe8050;
}
.navbar ul {
    list-style: none;
    padding-left: 0;
}
.navbar > ul > li {
    text-decoration: none;
    float: left;
    font-size: 16px;
    line-height: 30px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: wheat;
    padding: 6px 20px;
}
.navbar ul li.active {
    background-color: #444444;
}
.navbar > ul > li.end {
    float: right;
}
/* create sub-nav */
.navbar ul.sub-nav {
    position: absolute;
    display: none;
}
.navbar ul.sub-nav > li {
    background-color: #fe8050;
    width: 135px;
}
.navbar li:hover,
.navbar > ul > li > a:hover,
.navbar ul.sub-nav > li:hover,
.navbar ul.sub-nav > li a:hover {
    background-color: #444444;
    color: white;
}
.navbar li:hover > ul.sub-nav {
    display: block;
}
